.homepage-container{
    margin-top: var(--header-height);
    color: var(--white);
    
}

.homepage-light{
    background-color: var(--white);
    color: var(--black);
}

.movies-wrapper{
    display: flex;
}

.popular-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.popular-container {
    margin-top: var(--header-height);
    margin: 10px;
}  

.popular-container > h3{
    margin: 10px;
}

.top-rated-container{
    width: 40%;
}

.top-rated-container> h3{
    margin: 20px;
} 
.page-numbers{
    display: flex;
    justify-content: space-around;
    width: 70%;
    cursor: pointer;
}