.homepage-container{
    margin-top: var(--header-height);
    color: var(--white);
}

.movies-wrapper{
    display: flex;
}

.popular-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.top-rated-container{
    width: 40%;
}

